<div class="question-card hidden">
  <h3>Question <span id="questNum">{{number}}</span></h3>
  <p id="question">{{question}}</p>
  <div class="ans-container">
    {{#each answers}}
      {{> answerCard}}
    {{/each}} 
  </div>
</div>