<h2>Let's create your quiz</h2>

<section class="quiz-content-ctr">
  <div class="content-input">
    <h4>Quiz Name:</h4>
    <input type="text" id="quiz-name" />
  </div>
  <div class="content-input">
    <h4>Your first name:</h4>
    <input type="text" id="first-name" />
  </div>
  <div class="content-input">
    <h4>Your last name:</h4>
    <input type="text" id="last-name" />
  </div>

  <button id="add-quest-btn">Add question</button>
</section>