<h2>Welcome to myQuiz!</h2>

<div class="homepage-container">
  <div class="take-quiz-container">
    <h4>Taking a quiz?</h4>
    <input type="text" id="quiz-id" placeholder="Enter quiz ID here" />
    <div class="nav-button" id="to-quiz-btn">Go to quiz</div>

  </div>
  <div class="create-quiz-container">
    <h4>Need to make a quiz?</h4>
    <div class="nav-button" id="make-quiz-btn">Create a quiz</div>
  </div>

</div>