<h2>{{title}}</h2>

{{#each questions}}
{{>questionCard}}
{{/each}}
<div class="nav-container">
	<div class="nav-button hide-btn" id="prev">< Prev</div>
	<div class="nav-button" id="next">Next ></div>
	<div class="nav-button" id="submit">Submit</div>
</div>