<div class="question-card">
        <h3>Question <span id="questNum"></span> of 25</h3>
        <p id="question">What is tis question?</p>
        <div class="ans-container">
          <div class="ans">
            <input type="radio" name="ans" id="a" />
            <label id="ans-one" for="ans-one">Question</label>
          </div>
          <div class="ans">
            <input type="radio" name="ans" id="b" />
            <label id="ans-two" for="ans-two">Question</label>
          </div>
          <div class="ans">
            <input type="radio" name="ans" id="c" />
            <label id="ans-three" for="ans-three">Question</label>
          </div>
          <div class="ans">
            <input type="radio" name="ans" id="d" />
            <label id="ans-four" for="ans-four">Question</label>
          </div>
        </div>
      </div>